h6{
    color: aqua;
    text-align: center;
}
h3{
    color: antiquewhite;
    text-align: center;
}
h1{
    background-color: plum;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
  }
  
  th {
    background-color:blueviolet;
    border: 1px solid red;
  }
//   td {
//     border: 1px solid #dddddd;
//   }
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }